<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>공통 Layout</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >

	<!-- 공통 헤더 -->
	<div th:replace="commons/header"></div>

	<!-- 페이지별 본문 영역 -->
	<main class="w3-light-grey" layout:fragment="content"></main>

	<!-- 공통 푸터 -->
	<div th:replace="commons/footer"></div>

</body>
</html>
