<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout}">

<div layout:fragment="content">
	<div class="w3-content w3-padding">
		<div class="w3-card-4 w3-white">
			<div class="w3-container w3-padding w3-light-gray">
				<h4 style="display: inline">
					<b>회원</b>목록
				</h4>
			</div>
			<div class="w3-container">
				<table>
					<tr>
						<th class="w3-center">No.</th>
						<th class="w3-center">회원명</th>
						<th class="w3-center">이메일</th>
						<th class="w3-center">등록일</th>
					</tr>
					
					<tr th:each="member, iterStat : ${members}" 
						class="w3-hover-yellow"
						th:onclick="|loadDetailModal('memberDetail', '/members', ${member.id})|">
						<td class="w3-border w3-center" width="100px"
							th:text="${iterStat.index + 1}"></td>
						<td class="w3-border w3-center" width="500px"
							th:text="${member.name}">이름</td>
						<td class="w3-border w3-center" width="500px"
							th:text="${member.email}">이메일</td>
						<td class="w3-border w3-center" width="300px"
							th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
							
					</tr>
				</table>
				
				<!-- paging -->
				<div class="w3-bar w3-center">
				    <span th:if="${members.hasPrevious()}">
				        <a th:href="@{/members(page=${members.number - 1})}" class="w3-button w3-border">«</a>
				    </span>
				
				    <span th:each="pageNum : ${#numbers.sequence(0, members.totalPages - 1)}">
				        <a th:href="@{/members(page=${pageNum})}" th:text="${pageNum + 1}"
				            th:class="${pageNum == members.number} ? 'w3-button w3-black' : 'w3-button w3-border'"></a>
				    </span>
				
				    <span th:if="${members.hasNext()}">
				        <a th:href="@{/members(page=${members.number + 1})}" class="w3-button w3-border">»</a>
				    </span>
				</div>


				<!-- 페이지 모달 -->
				<div id="memberDetail" class="w3-modal"
					style="background-color: rgba(0, 0, 0, 0.0); padding: 5px; width: 720px; margin-left: 27%">
				</div>				

			</div>
		</div>
	</div>
</div>