<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
      
<div layout:fragment="content">
	<div class="w3-content w3-padding">
		<div class="w3-card-4 w3-white">
			<div class="w3-container w3-padding w3-light-gray">
				<h4 style="display: inline">
					<b>회원</b>목록
				</h4>
			</div>
			<div class="w3-container">
				<table>
					<tr>
						<th class="w3-center">No.</th>
						<th class="w3-center">회원명</th>
						<th class="w3-center">e-mail</th>
					</tr>

					<tr th:each="member, iterStat : ${Members}">
						<td class="w3-border w3-center" width="100px"
							th:text="${iterStat.index + 1}">1</td>
						<td class="w3-border w3-center" width="1000px"
							th:text="${member.name}">회원명</td>
						<td class="w3-border w3-center" width="1000px"
							th:text="${member.email}">이메일</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
</div>
